@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
}

.wrapper {
    width: 1420px;
    margin: 0 auto;
}

@media(max-width: 1600px) {
    .wrapper {
        width: 1140px;
    }
}

@media(max-width: 1366px) {
    .wrapper {
        width: 1140px;
    }
}

@media(max-width: 1199px) {
    .wrapper {
        width: 960px;
    }
}

@media(max-width: 991px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}

.header {
    background-color: #1A1A1A;
    height: 93px;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .phone {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header .phone img {
    border-right: 2px solid #FFFFFF;
    padding: 10px;
}

.header .phone a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 13px;
}

.main-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.main-menu ul a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    ;
}

.main-menu ul .logo {
    width: 129px;
    height: 93px;
}

.header .socials {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header .socials li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.header .socials li img {
    transform: translateY(2px);
}

main .offer {
    min-height: 576px;
    background-image: url(../images/main_bg.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 75px;
}

.offer .main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.offer .main-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.offer .underline {
    text-decoration: underline;
}

.offer .color {
    color: #02A0B5;
}

.offer .advantages {
    list-style: none;
}

.offer .advantages li {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.offer .advantages li .color {
    margin: 0 7px;
}

.offer .advantages li img {
    margin-right: 15px;
}

.offer .buttons {
    display: flex;
    align-items: center;
    gap: 27px;
}

.main-button,
.additional-button {
    width: 243px;
    height: 56px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.main-button {
    background: #F5B95F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.additional-button {
    background: #FFFFFF;
    border: 3px solid #1A1A1A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

main .scroll {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

main .scroll img {
    cursor: pointer;
}

.page-section {
    margin: 70px 0;
}

.advantages-block {
    position: relative;
    background: #F2F2F2;
    max-height: 650px;
    padding: 0 80px 60px 80px;
    overflow: visible;
    margin-bottom: 300px;
}

.advantages-slider {
    max-height: 650px;
}

.advantages-dots {
    position: absolute;
    left: 24px;
    top: 30px;
}

.advantages-dots ul.slick-dots {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    position: static;
}

.advantages-dots ul li {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 168, 191, 0.9843);
    border-radius: 5px;
}

.advantages-dots ul li.slick-active {
    background-color: #00A8BFFA;
}

.advantages-dots ul li button::before {
    display: none;
}

.advantages-arrow-left {
    position: absolute;
    left: 24px;
    top: 430px;
    cursor: pointer;
}

.advantages-arrow-right {
    position: absolute;
    right: 24px;
    top: 66px;
    cursor: pointer;
}

.advantages-block .item {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.advantages-block .item img {
    width: 100%;
    height: auto;
    position: relative;
}

.advantages-block .slider-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advantages-block .slider-content h3 {
    font-size: 57px;
    font-weight: bold;
}

.advantages-block .slider-content h3 .color {
    color: #02A0B5;
}

.advantages-block .slider-content .desc {
    font-size: 25px;
    color: #888888;
    width: 272px;
}

.advantages-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.advantages-items li {
    border: 1px solid rgba(0, 168, 191, 0.984314);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: flex-start;
    background-color: #fff;
    gap: 20px;
}

.advantages-items li img {
    height: 100px;
    width: auto;
}

.advantages-items li .title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.advantages-items li .desc {
    font-size: 14px;
}

.category-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 61px;
}

.tabs {
    font-size: 0;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    display: none;
    font-size: 16px;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
    display: grid;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid rgba(188, 188, 188, 0.984314);
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
    width: calc(25% - 90px/4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    text-align: left;
}

.tabs>label .title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
}

.tabs>label .subtitle {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.941176);
}

.tabs>input[type="radio"]:checked+label {
    border: 2px solid rgba(0, 168, 191, 0.984314);
}

.content {
    width: 100%;
}

.categories .info-title {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin-bottom: 32px;
}

.categories .costs {
    display: flex;
    justify-content: stretch;
    gap: 10px;
    list-style: none;
}

.categories .costs li {
    padding: 15px;
    border-radius: 10px;
}

.categories .price {
    width: 193px;
    background-color: #f2f2f2;
    flex-grow: 0;
}

.categories .sale {
    border: 1px solid #BCBCBC;
}

.categories .price-title {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #6D6D6D;
}

.categories .price-value {
    font-weight: 700;
    font-size: 29px;
    text-transform: uppercase;
    color: #353535;
}

.categories .sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories .sale .for {
    max-width: 50%;
    text-align: right;
    font-size: 13px;
    align-items: center;
    text-transform: uppercase;
    color: #6D6D6D
}

.categories .sale .sale-title {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #6D6D6D;
}

.categories .sale .sale-value {
    font-weight: 700;
    font-size: 29px;
    text-transform: uppercase;
    color: #353535;
}

.categories .advs-title {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top: 18px;
    display: block;
}

.categories .advs {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.categories .advs li {
    display: flex;
    margin-bottom: 10px;
}

.categories .advs li img {
    margin-right: 10px;
}

.categories .buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.categories .text-title {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #6D6D6D;
}

.categories .buttons a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-top: 3px;
    display: block;
}

.page-section-title {
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.study-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    list-style: none;
}

.study-advantages li {
    width: 220px;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    border: 2px solid #BCBCBC;
    border-radius: 10px;
    padding: 20px;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.steps li {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.steps li:nth-child(2),
.steps li:nth-child(4),
.steps li:nth-child(5),
.steps li:nth-child(7),
.steps li:nth-child(10) {
    background: #F8F8F8;
}

.steps li .title {
    font-weight: 700;
    font-size: 29px;
    color: #9A9A9A;
}

.steps li .title .num {
    font-size: 42px;
}

.steps li .content {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    line-height: 16px;
    margin-top: 20px;
}

.steps li .content span {
    font-weight: 700;
}

.steps li:last-of-type {
    grid-column: 3 / 5;
    background-color: rgba(2, 160, 181, 0.2);
    background-image: url('../images/last-step.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 20px 30px;
}

.steps li:last-of-type .title {
    font-weight: 700;
    font-size: 47px;
    color: #000000;
}

.steps li:last-of-type .title .content {
    margin-top: 10px;
    font-weight: 400;
    font-size: 19px;
    color: #000000;
}

.autopark-slider .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
}

.autopark-slider .item img{
    width: 80%;
    height: auto;
}

.autopark-slider .item .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autopark-slider .item .text .desc{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #6D6D6D;
}

.autopark-slider .item .text .title{
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-top: 5px;
}

.autopark-dots{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.autopark-dots .slick-dots{
    position: static;
    bottom: auto;
    display: flex;
    justify-content: center;
}

.autopark-dots li{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 168, 191, 0.9843);
    border-radius: 5px;
    transition: 0.5s;
}

.autopark-dots li button::before{
    display: none;
}

.autopark-dots li.slick-active{
    background: rgba(0, 168, 191, 0.98);
}

.certificate{
    background-image: url(../images/certificate_bg.jpg);
    background-size: cover;
    padding: 40px 0;
    margin: 50px 0;
}

.certificate .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate .subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.certificate .title{
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    text-align: center;
    color: #000000;
    max-width: 852px;
    margin-top: 20px;
}

.certificate .desc{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.certificate form{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
}

.certificate form input{
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #4E4E4E;
}

.certificate form button{
    background: #F5B95F;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.certificate form input,
.certificate form button{
    flex-grow: 1;
    height: 50px;
}

.certificate .confidentional{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.certificate .confidentional a{
    color: #000000;
}

.questions{
    margin-top: 30px;
}

.question{
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    padding: 30px 20px;
    margin-top: -1px;
    transition: 0.5s;
}

.question:not(.question--empty){
    cursor: pointer;
}

.question:not(.question--empty):hover{
    background-color: #F5F5F5;
}

.question-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    position: relative;
    display: block;
    padding-right: 30px;
}

.question:not(.question--empty) .question-title:after{
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}

.question--opened .question-title:after{
    transform: rotate(180deg);
    filter: saturate(-50) hue-rotate(25deg);
}

.question ul{
    margin-top: 30px;
    display: none;
}

.question--opened.question ul{
    display: block;
}

.question li{
    margin: 5px 0;
}

.sale{
    background-color: #F2F1F1;
    padding: 50px 0;
    margin-bottom: 0 !important;
}

.trap{
    width: 100%;
    height: auto;
}

.offers-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.offers-list .conditions{
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    padding: 20px;
}

.offers-list .conditions .condition-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.offers-list .conditions input{
    display: none;
}

.offers-list .conditions label{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    position: relative;
    gap: 5px;
    margin-bottom: 20px;
}

.offers-list .conditions label::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 25px;
    height: 25px;
    outline: 2px solid #BCBCBC;
    outline-offset: 1px;
}

.offers-list .conditions label .title{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.offers-list .conditions label .subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #554C4C;
}

.offers-list .conditions input:checked + label::before{
    background-color: #F5B95F;
}

.offers-list .data{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

.offers-list .data input{
    height: 50px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    font-weight: 300;
    font-size: 18px;
    color: #4E4E4E;
    padding: 20px;
}

.offers-list .data button{
    background: #F5B95F;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: none;
    height: 50px;
    cursor: pointer;
}

.offers-list .data .manager{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    color: #414141;
}

.offers-list .data .confidentional{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.offers-list .data .confidentional a{
    color: #000000;
}

.top-block{
    display: grid;
    grid-template-columns: 40fr 15fr;
    gap: 30px;
    align-items: center;
}

.top-block .content{
    display: flex;
    flex-direction: column;
}

.top-block .content .title{
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    color: #000000;
}

.top-block .content .subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-top: 50px;
}

.top-block .content button{
    align-self: flex-end;
    margin-top: 30px;
    position: relative;
    background: #F5B95F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
    height: 56px;
    border: none;
    align-items: center;
    width: 319px;
    cursor: pointer;
}

.top-block .content button:before{
    content: "";
    width: 104px;
    height: 63px;
    background-image: url(../images/top-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    left: -120px;
    top: -20px;
}